Hallo Tanja,


Er zijn {{ .NewAlertCount }} nieuwe alert(s) voor de Webshop:

{{if .NewAlerts -}}
  <ul>
    {{- range .NewAlerts }}
      <li>
        {{ .Severity }} - <a href="{{ .Url }}">{{ .Environment }}/{{ .Resource }}</a>: {{ .Event }} - {{ .Text }}
      </li>
    {{- end}}
  </ul>
{{- else}}
  No Alerts found
{{- end}}

Er zijn ook nog {{ .AlreadyNotified }} oudere, openstaande alerts.


Groetjes,
-- Uw Alerta instance