L.S.,


There are {{ .NewAlertCount }} new alert(s):

{{if .NewAlerts -}}
  <ul>
    {{- range .NewAlerts }}
      <li>
        {{ .Severity }} - <a href="{{ .Url }}">{{ .Environment }}/{{ .Resource }}</a>: {{ .Event }} - {{ .Text }}
      </li>
    {{- end}}
  </ul>
{{- else}}
  No Alerts found
{{- end}}

There are also {{ .AlreadyNotified }} more open alerts.


Regards,
-- your Alerta instance
